body {
    background-color: #0258ae; /* Azul oscuro */
    color: #0f0;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    text-align: center;
    padding-top: 50px;
}

#contador {
    margin-top: 50px;
}

.title {
    font-family: 'Black Ops One', sans-serif;
    font-size: 80px;
    color: #0f0; /* Verde */
}

#start {
    background-color: #0074D9; /* Azul */
    color: #0f0;
    border: 2px solid #0f0;
    border-radius: 5%;
    padding: 10px 20px;
    font-size: 50px;
    cursor: pointer;
}

#start:hover {
    background-color: #0c0;
    border-color: #0c0;
}

#myCanvas {
    margin: 0 auto;
    display: block;
    border: 2px solid #0f0;
    border-radius: 2%;
}

#resultado {
    font-size: 1.5em;
    margin-top: 20px;
    color: rgba(0, 255, 0, 0.59); 
}
